/*Police globale*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


body {
    font-family: "Raleway", "Sans serif";
    width: 1180px;
    margin: auto;
}
/*CSS Header*/

header {
    display: flex;
    margin-top: 30px;
}  
.logo {
    display: flex;
    align-items: center;
        
}
.liens {
      flex: 1 0 auto;
      text-align: right;
      margin-top: 20px;
      
}
.lien1, .lien3{
    text-decoration: none;
    color: #0065fc;
    margin-top: 20px;
    
}
.lien3 {
    font-weight: bold;
}
.lien2{
    text-decoration: none;
    color: black;
    
}
nav a{
    margin-right: 30px;

}

/*Section 1 CSS*/

.rechercheville {
    
    border-radius: 10px; 
    display: flex;
    height: 45px;
}
.rechercheville i.fa-map-marker-alt {
    background-color: #F2F2F2;
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.ville {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
    padding: 11px 14px;
    font-weight: bold;
    
}
    
.rechercheville button{    
    background-color: #0065fc;    
    border-radius: 0px 10px 10px 0px; 
    border-color: #0065fc;  
    color: white;
    padding: 10px 30px 10px 15px;
    font-size: 16px;      
}
.rechercheville button i {
    display: none;
}


/*Les différents Filtres*/
.filtres{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.filtre {
    border: 1px solid #F2F2F2;
    padding-right: 20px;
    border-radius: 30px;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-weight:bold;
}
.filtre i {
    color: #0065fc;
    background-color: #deebff;
    padding: 13px;
    border-radius: 50px;
    margin-right: 12px;    
}

.filtre:hover{
    background-color:rgb(236, 245, 255)
}
.filtretexte{
    font-weight: 800;
}
.information i{
    color: #0065fc;
    border: solid #deebff;
    padding: 5px;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 25px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: x-small;
    text-align: center;
}

/*Section 2 Hébergements*/

#hebergements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#hebergements .hebergement-marseille,
#hebergements .hebergement-populaire
{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #F2F2F2;
}

#hebergements .hebergement-marseille {
    width: 62%;
}
#hebergements .hebergement-marseille .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

#hebergements .list figure {
    margin-right: 0;
    margin-left: 0;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.hebergement img{
    object-fit: cover;
    width: 210px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list a{
    text-decoration: none;
    color: black;
    line-height: 5px;
    font-size: 14px;
}
.nomhebergement{
    font-weight:bold;
    font-size: 16px;
}
figcaption .fas{
    color: #0065fc;
}
figcaption .far{
    color:#F2F2F2;
    

}
.afficherplus{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
}


/*Les plus populaires*/

#hebergements .hebergement-populaire {
    width: 30%;
}

#hebergements .hebergement-populaire h3 {
    display: flex;
    margin: 20px 20px 30px 20px;
    justify-content: space-between;
}

#hebergements .hebergement-populaire .list {
    margin: 0 20px;
      

}
.hebergement-populaire .list figure{
    display: flex;
    line-height: 18px;
}
#hebergements .hebergement-populaire h3 i {
    display: inline-block;

}
.populaire img{
    width: 115px;
    height: 121px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
.populaire{
    border-radius: 20px;    
}
.list figcaption{
    padding-left: 6px;
}
/*Section 3 Les activités à Marseille*/

#Activites{
    margin-top: 35px;
    margin-bottom: 20px;

}
.lesactivitesamarseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.figureactivites img{
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.deuxactivites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Pomeguesactivites img{
    height: 130px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.standardactivites img{
    height: 140px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lienactivites{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.lesactivitesamarseille figure{
    box-shadow: 1px 1px 12px gray;
    border-radius: 10px;
    padding-bottom: 1px;
    margin: 0;   
}
figcaption p{
    padding-left: 5px;
}
/*Footer - A propos*/

footer{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
}
footer nav{
    width: 30%;

}
footer nav ul{
    list-style: none;
    line-height: 25px;
    font-size: 13px;
}
.elementgras{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}
@media only screen and (min-device-width: 1024px){
    .figureactivites img{
        height: 375px;
    }
}

/**  Media query pour iphone **/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

    body{
        width: auto;

    }
    header{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header .logo {
        order: 1;
        margin-left: 25px;
    }

    header .lien3 {
        order: 2;
        margin-right: 17px;
        
    }

    header nav.liens {
        order: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;     
    
                   
    } 
    .lien1{
        margin-top: 0;
        border-bottom: 2px solid #0065fc;
        width: 50%;
        padding-bottom: 15px;
        margin-right: 0;
    }
    .lien2{
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
        margin-right: 0;
    }
    .filtres {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 320px;
        height: 204px;
    }
    .filtretexte{
        width: 100%;
    }

    #hebergements{
        flex-direction: column;
        
    }

    #hebergements .hebergement-marseille {
        display: flex;
        flex-direction: column;
        width: auto;
        order: 2;
        background-color: white;

    }
    #hebergements .hebergement img{
        width: 328px;
    }

    #hebergements .hebergement-populaire {
        display: flex;
        flex-direction: column;
        width: auto;
        order: 1;
        
    }
    #hebergements .list a {
        width: 100%;
    }
    section:first-child {
        width: 80%;
        margin: 20px auto;
    }
    .rechercheville button i{
        display: inline;
    }
    .rechercheville button span{
        display: none;
    }
    .rechercheville button {
        border-radius: 10px;
        padding-right: 15px;
    }
    #Activites{
        margin-left: 19px;
    }
    .filtre{
        margin-left: 4px;
    }
    .lienactivites {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .lienactivites img {
        width: 100%;
    }
    .deuxactivites{
        width: 100%;
    }
    .figureactivites img{
        height: 140px;
    }
    footer{
        flex-direction: column;        
    }
    footer nav{
        width: 100%;
    }
   footer nav ul {
       padding-left:20px;
   }
  
 
}
@media only screen and (min-width:1024){
    .liens :hover{
        color: #0065fc;
        border-top: 2px solid #0065fc;
        padding-top: 35px;
}
}

